body {
    background-color: rgb(27, 27, 27);
    background: url(img/bg_repeat.png) left top repeat;
    background-size: 50px 50px;

}

h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 300%;
    text-align-last: center;
    color:white;
    background-image: linear-gradient(#272727, #1f1f1f);
    padding-top: 10px;
    padding-bottom: 10px;

}

h2 {
    font-family: "Unbounded", sans-serif;
    font-size: 200%;
    font-weight: 550;
    text-align-last: center;
    color:white;
    text-shadow: 5px 5px 7px black

}

h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 50%;
    text-align-last: center;
    color:white;

}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align-last: center;
    color:white;
    text-shadow: 2px 2px 2px black
}

.prompt-semibold {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.topnav {
    background-color: #333;
    background-image: linear-gradient(#333, #252525);
    border-radius: 50px;
    overflow: hidden;
    border: 5px solid #252525;
    box-shadow: 0px 0px 10px black;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 17px;
    padding-left: 25px;
    padding-right: 25px;
    transition: box-shadow 0.3s;
}

.topnav a:hover {
    background-color: rgb(199, 199, 199);
    background-image: linear-gradient(rgb(170, 170, 170), rgb(218, 217, 217)); 
    color: rgb(27, 27, 27);
    text-shadow: 0px 0px 10px #5e5e5e;
    box-shadow: 0px 0px 50px #5e5e5e;
}

.container {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containersmall {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    transition: transform 0.3s;
    background-color: rgb(17, 17, 17);
    border: 0px solid #252525;
    padding: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(17, 17, 17);

}

.logo:hover {

    animation: glow 3s ease-in-out infinite;
    transform: translate(0px, -25px);
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 15px rgb(17, 17, 17);
    }

    50% {
        box-shadow: 0px 0px 50px rgb(17, 17, 17);
    }

    100% {
        box-shadow: 0px 0px 15px rgb(17, 17, 17);
    }
}

.logo:active {
    filter:brightness(5);
}

.alignleft {
    display: flex;
    justify-content: left;
    align-items: left;
}

.alignright {
    display: flex;
    justify-content: right;
    align-items: right;
}

.kaypaicon {
    transition: scale 0.3s;
    padding: 10px;

}

.kaypaicon:hover {
    scale: 1.2;
}

.kaypaicon:active {
    filter:brightness(2);
}

.emojitaleicon {
    transition: scale 0.3s;
    padding: 10px
}

.emojitaleicon:hover {
    scale: 1.2;
}

.emojitaleicon:active {
    filter:brightness(2);
}

.buttonstellarballz {
    border: 3px solid rgb(0, 102, 255);
    border-radius: 4px;
    padding: 15px 32px;
    background-image: linear-gradient(rgb(0, 152, 255), rgb(0, 102, 255));
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 5px black;
    
}

.buttonstellarballz:hover {
    border: 3px solid rgb(0, 102, 255);
    border-radius: 4px;
    padding: 15px 32px;
    background-image: linear-gradient(rgb(0, 102, 255), rgb(0, 153, 255));
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    box-shadow: 5px 5px 5px black;
}

.buttondefault {
    border: 3px solid rgb(52, 54, 56);
    border-radius: 4px;
    padding: 15px 32px;
    background-color: rgb(69, 72, 73);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(69, 72, 73), rgb(52, 54, 56));
    box-shadow: 2px 2px 5px black;
    
}

.buttondefault:hover {
    border: 3px solid rgb(52, 54, 56);
    border-radius: 4px;
    padding: 15px 32px;
    background-color: rgb(69, 72, 73);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(52, 54, 56), rgb(69, 72, 73));
    
}

.buttondefaultsmall {
    border: 3px solid rgb(52, 54, 56);
    border-radius: 4px;
    background-image: linear-gradient(rgb(69, 72, 73), rgb(52, 54, 56));
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 10px 27px;
    
}

.buttondefaultsmall:hover {
    border: 3px solid rgb(52, 54, 56);
    border-radius: 4px;
    background-image: linear-gradient(rgb(52, 54, 56), rgb(69, 72, 73));
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    
}

button {
    margin-right: 20px;
}

.text-block {
    background-color: rgb(10, 10, 10);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.second-bg {
    background-color: rgb(17, 17, 17);
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 5px 5px 20px black;
}

table {
    background-image: linear-gradient(rgb(39, 39, 39), rgb(29, 29, 29));
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 5px
}

th {
    border: 3px solid rgb(15, 15, 15);
    background-image: linear-gradient(rgb(49, 49, 49), rgb(29, 29, 29));
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px
}

td {
    border: 3px solid rgb(15, 15, 15);
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px
}

footer {
    background-image: linear-gradient(rgb(27, 27, 27), rgb(17, 17, 17));
    bottom: 0px;
    position: fixed;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top {
    background-image: linear-gradient(rgb(12, 14, 20), rgb(7, 8, 10));
    background: url(img/bg_repeat2.png) left top repeat;
    background-size: 50px 50px;
}

.topnavbg {
    color: linear-gradient(rgb(12, 14, 20), rgb(7, 8, 10));
    height: 100px;
}

.hover {
    transition: scale 0.3s;
    background-image: linear-gradient(rgb(27, 27, 27), rgb(17, 17, 17));
    border: 3px solid rgb(15, 15, 15);
    padding: 15px;
    border-radius: 100%;
    box-shadow: 5px 5px 5px black;
    scale: 1.2;
}

.hover:hover {
    scale: 1.4;
    box-shadow: 0px 0px 10px rgb(141, 141, 141);
    animation: glow2 3s ease-in-out infinite;
}

.divisor {
    height: 50px
}

@keyframes glow2 {
    0% {
        box-shadow: 0px 0px 10px rgb(141, 141, 141);
    }

    50% {
        box-shadow: 0px 0px 15px rgb(141, 141, 141);
    }

    100% {
        box-shadow: 0px 0px 10px rgb(141, 141, 141);
    }
}

@media all and (max-width: 700px) {
    .topnav a {
        font-size: 10px;
        padding: 10px 14px;
    }

    .topnav {
        border: 3px solid #252525;
    }

    .logo {
        border: 3px solid #252525;
        padding: 10px;
    }

    p {
        font-size: 10px;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 125%;
    }

    video {
        width: 75%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-block {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
  }

@media all and (max-width: 500px) {
    .topnav a {
        font-size: 8px;
        padding: 8px 12px;
    }

    .topnav {
        border: 2px solid #252525;
    }

    .logo {
        border: 2px solid #252525;
        padding: 10px;
    }

    p {
        font-size: 8px;
    }

    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 110%;
    }

    video {
        width: 75%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-block {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
  }




