body {
    background-color: rgb(27, 27, 27);

}

h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 300%;
    text-align-last: center;
    color:white;

}

h2 {
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 200%;
    text-align-last: center;
    color:white;

}

h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 50%;
    text-align-last: center;
    color:white;

}

p {
    font-family: "Montserrat", sans-serif;
    text-align-last: center;
    color:white;
    text-shadow: 2px 2px 2px black
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 17px;

}

.topnav a:hover {
    background-color: rgb(199, 199, 199);
    color: rgb(27, 27, 27);
}

.container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containersmall {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 50px;
    transition: scale 0.3s;
}

.logo:hover {
    scale: 1.2;
}

.logo:active {
    filter:brightness(5);
}

.alignleft {
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.alignright {
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: right;
}

.buttonkaypa {
    border: 3px solid rgb(255, 123, 0);
    border-radius: 4px;
    padding: 15px 32px;
    background-color: rgb(255, 196, 0);
    background-image: linear-gradient(rgb(255, 196, 0), rgb(255, 123, 0));
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 5px black;
    
}

.buttonkaypa:hover {
    border: 3px solid rgb(255, 123, 0);
    border-radius: 4px;
    padding: 15px 32px;
    background-color: rgb(255, 196, 0);
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 196, 0));
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    box-shadow: 5px 5px 5px black;
}

.buttonemojitale {
    border: 3px solid rgb(0, 102, 255);
    border-radius: 4px;
    padding: 15px 32px;
    background-image: linear-gradient(rgb(0, 152, 255), rgb(0, 102, 255));
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 5px black;

}

.buttonemojitale:hover {
    border: 3px solid rgb(0, 102, 255);
    border-radius: 4px;
    padding: 15px 32px;
    background-image: linear-gradient(rgb(0, 102, 255), rgb(0, 153, 255));
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    box-shadow: 5px 5px 5px black;
    
}

.buttonstellarballz {
    border: 3px solid rgb(0, 102, 255);
    border-radius: 4px;
    padding: 15px 32px;
    background-color: rgb(0, 153, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    
}

.buttondefault {
    border: 3px solid rgb(52, 54, 56);
    border-radius: 4px;
    padding: 15px 32px;
    background-color: rgb(69, 72, 73);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(69, 72, 73), rgb(52, 54, 56));
    box-shadow: 2px 2px 5px black;
    
}

.buttondefault:hover {
    border: 3px solid rgb(52, 54, 56);
    border-radius: 4px;
    padding: 15px 32px;
    background-color: rgb(69, 72, 73);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(52, 54, 56), rgb(69, 72, 73));
    
}

.buttondefaultsmall {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}

button {
    margin-right: 20px;
}

